#API Files
api/node_modules

#Mobile Files

mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

# macOS
mobile/.DS_Store

# Temporary files created by Metro to check the health of the file watcher
mobile/.metro-health-check*
